html,
body {
  height: 80vh;
   width: 100%;
   margin: 0;
   padding: 0;
   background-image: url('../images/art-supplies.jpg');
   background-repeat: repeat;
   background-size: 10%;
   font-family: 'Josefin Sans', sans-serif;
}

h1 {
  margin: auto;
}

section {
  display: flex;
  justify-content: space-between;
}

article {
  display: flex;
  flex-direction: column;
}

h4 {
  font-size: 20px;
  margin-bottom: 12px;
}

.color {
  height: 75px;
  width: 75px;
  border-radius: 100%;
  background-color: black;
  margin: 5px 25px 5px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /*border: 1px solid white;*/
   box-shadow: 0px 0px 1px 3px #6b6a6a;
}

.pal-color,
.delete-pal {
  height: 25px;
  width: 25px;
}

.pal {
  display: flex;
  flex-direction: column;
  border: 01px solid #6b6a6a;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 20px;
}

.pal-colors,
.name-trash {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.pal-colors {
  margin-bottom: 15px;
  border-radius: 20px;
  overflow: hidden;
}

.projects {
  z-index: 1;
    height: 65vh;
    overflow: scroll;
    background-color: black;
    color: white;
    padding: 20px;
    margin-top: 10px;
    margin-right: 600px;
    border-radius: 10px;
}

.delete-pal {
  margin-top: 19px;
  width: 19px;
  height: 17px;
}

.projects-header {
  height: auto;
  width: 50%;
  display: inline-block;
  margin: auto;
}

.palette {
  position: relative;
  margin-left: 550px;
}

.paint-palette {
  height: 400px;
  width: auto;
}

#color1,
#lock1 {
  position: absolute;
  top: 135px;
  left: 16px;
}

#color2,
#lock2 {
  position: absolute;
  top: 70px;
  left: 78px;
}

#color3,
#lock3 {
  position: absolute;
  top: 71px;
  left: 165px;
}

#color4,
#lock4 {
  position: absolute;
  top: 146px;
  left: 210px;
}

#color5,
#lock5 {
  position: absolute;
  top: 220px;
  left: 40px;
}

.header {
  height: 100px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title {
  display: inline-block;
  height: 80%;
  width: auto;
}


.new {
  height: 60px;
  width: 85px;
  border-radius: 30px;
  background-color: black;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 13px;
  position: absolute;
  top: 120px;
  left: 560px;
}

#new-title,
#add-project {
  width: 120px;
  border-radius: 20px;
  border: 1px solid black;
  position: absolute;
  top: 120px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 13px;
}

#new-title {
  height: 30px;
  left: 800px;
  padding-left: 5px;
}

#add-project {
  height: 35px;
  left: 956px;
  background-color: black;
  color: white;
}

.new-palette-box {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: absolute;
  top: 200px;
  left: 946px;
}

#new-palette,
select,
.add-pal {
  margin-bottom: 20px;
  height: 30px;
  border-radius: 20px;
  background-color: black;
  color: white;
  border: 1px solid black;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 13px;
}

#new-palette {
  background-color: white;
  color: black;
  padding-left: 5px;
}

.add-pal {
  height: 35px;
}

.black {
  z-index: 0;
    position: absolute;
    background-color: black;
    opacity: 0.8;
    height: 150vh;
    top: 100px;
    width: 100%;
}

#add-project,
.add-pal {
  border: 1px solid white;
}

button:hover,
select:hover,
#add-project:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

.color,
.lock,
.locked,
.delete-pal {
  cursor: pointer;
}

.lock,
.locked {
  height: 50px;
  width: auto;
}


@media (max-width: 1920px) {
  .projects {
    margin-right: 300px;
  }

  #add-project {
    left: 825px;
  }

  #new-title {
    left: 675px;
  }

  .new-palette-box {
    left: 750px;
  }

  .palette {
    margin-left: 350px;
  }

  .new {
    left: 300px;
  }
}

@media (max-width: 1500px) {
  .projects {
    margin-right: 100px;
  }

  #add-project {
    left: 625px;
  }

  #new-title {
    left: 475px;
  }

  .new-palette-box {
    left: 550px;
  }

  .palette {
    margin-left: 150px;
  }

  .new {
    left: 100px;
  }
}
