h1 {
  margin: auto;
}

section {
  display: flex;
  justify-content: space-between;
}

article {
  display: flex;
  flex-direction: column;
}

.color {
  height: 75px;
  width: 75px;
  border-radius: 100%;
  background-color: black;
  margin: 5px 25px 5px 50px;
}
